[2019-09-13 16:54] MalloZup opened #1 "implement a way to count the resorcourse"
# desc

I have hardcoded the  number because I need to implement the way we lookup the number.

https://github.com/MalloZup/ha_cluster_exporter/blob/master/main.go#L412

[2019-09-13 16:55] MalloZup opened #2 "implement Refresh parameter for cmdline exporter"
# desc

we should just add a flag for refreshing XX seconds so the binary can be changes

[2019-09-13 20:05] MalloZup opened #3 "use labels instead of multiples metrics"
we have to much metrics.

We can easy use labels with that

[code]
https://prometheus.io/docs/practices/instrumentation/

[2019-09-15 16:38] MalloZup commented on #3
done

[2019-09-15 16:38] #3 closed

[2019-09-15 16:38] MalloZup commented on #1
done

[2019-09-15 16:38] #1 closed

[2019-09-15 16:38] MalloZup commented on #2
done

[2019-09-15 16:38] #2 closed

[2019-09-15 17:10] MalloZup opened #4 "use Register method instead of MustRegister"
Use Register method (https://godoc.org/github.com/openshift/origin/vendor/github.com/prometheus/client_golang/prometheus#Registry.Register)

This allow us to catch the error and print a error msg .

Mustregister just panic without giving the opportunity of catching errors

[2019-09-16 16:40] MalloZup opened #5 "make log compatible to systemd daemon"
Right now we print in terminal.
We should just print the golang output to systemd for beeing a service.

[2019-09-16 21:35] MalloZup commented on #5
done

[2019-09-16 21:35] #5 closed

[2019-09-16 21:35] MalloZup opened #6 "[PKG]: create an obs service file to checkout github source when changes"

[2019-09-16 21:40] MalloZup commented on #4
done

[2019-09-16 21:40] #4 closed

[2019-09-17 14:27] MalloZup opened #7 "make from 2 only 1 metric with label"
from this 2 metrics create 1
[code]

`
cluster_resources_status{status="master"} 1
`

`
cluster_node_resources{node="ayoub-monitoring-hana01",resource_name="rsc_saphana_prd_hdb00",role="master"  status="orpanhed"}} 1
`

[2019-09-17 14:29] MalloZup opened #8 "add label to metric"
currenlty
[code]

we should add
`cluster_nodes{node="foobar1" type="unknown"} 0`

[2019-09-17 15:18] MalloZup commented on #8
done

[2019-09-17 15:18] #8 closed

[2019-09-17 15:56] MalloZup commented on #7
done

[2019-09-17 15:56] #7 closed

[2019-09-17 16:42] MalloZup opened #9 "Configured metric"
In past we used the metric configured . We should expose this metric separately.

[2019-09-17 18:42] MalloZup opened #10 "add version cmdline"
add CLI option to print version of the exporter

[2019-09-17 19:34] #10 closed

[2019-09-18 12:35] MalloZup opened #11 "move managed metric as label"

[2019-09-18 13:27] #11 closed

[2019-09-18 15:32] #9 closed

[2019-09-23 12:56] MalloZup opened #12 "check/test if in different sles/openSUSE systems version"
Check if `crm_mon` return same data when running on different systems
# actions:

run this on older systems

[2019-09-26 17:15] #6 closed

[2019-09-26 17:15] MalloZup opened #13 "CI: add basic things of travis ci"
add basic ci for golang here.

[2019-09-28 09:44] MalloZup commented on #13
done

[2019-09-28 09:44] #13 closed

[2019-09-30 10:41] MalloZup opened #16 "Add label RING_ID to corosync metric"
Create a metric
`corosync_ring_errors("ring_id=1") 1
`corosync_ring_errors("ring_id=42") 0

 here so we can point what ring is failing.  A zero or 1 is a failure.

[2019-09-30 10:53] MalloZup commented on #16
@diegoakechi  to me we should consider :

this is an output

[code]

[2019-09-30 11:25] gao-yan commented on #16
Indeed the output of corosync-cfgtool is kind of confusing. How about adding a new field "ring_address" or combining the information like "0 (address: 10.0.0.1)"?

[2019-09-30 11:31] MalloZup commented on #16
@gao-yan to me we could add it yes. I just hope the output stay the same since we will use it as api😅

[2019-09-30 13:06] MalloZup commented on #16
@gao-yan  can a ring have multiple adress? :thinking:

[2019-09-30 13:16] MalloZup commented on #16
adding this would require some anti-pattern things in prometheus. I am not sure if we need it ..

[2019-09-30 13:24] gao-yan commented on #16
I don't think output of corosync-cfgtool changes often. But the output between corosync-2.4 and corosync-3 are different:

2.4:
https://github.com/corosync/corosync/blob/needle-2.4/tools/corosync-cfgtool.c#L68

3.0:
https://github.com/corosync/corosync/blob/master/tools/corosync-cfgtool.c#L90

But we will likely take corosync-3 only starting from SLE 16.

In corosync-2.4, corosync-cmapctl outputs

[2019-09-30 13:26] gao-yan commented on #16
I don't think so. A ring/interface can only be configured with one "bindnetaddr".

[2019-09-30 13:31] MalloZup commented on #16
ok thx @gao-yan . So I think for a first corosync 0.5 version of the exporter, I would go with only the metric total. which is the most simple one

For the other metric we need to research a bit if we needed it or not to rely.

`corosync-cmapctl` seems a valid tool to me more handy to parse. If it is stable we might just use that.

[2019-09-30 13:41] gao-yan commented on #16
It makes sense to provide only the most basic and important info for the first step.

And let's check how things and output fields from corosync-cmapctl are different between corosync-2.4 and corosync-3 so that we have better ideas on the options.

[2019-09-30 13:50] MalloZup commented on #16
yes agree. thx @gao-yan :rocket:

[2019-09-30 13:51] MalloZup opened #17 "PKGing: release a new version of rpm exporter"
release a new rpm of the release

[2019-09-30 21:15] #17 closed

[2019-10-01 15:03] MalloZup opened #18 "add clustername to metrics"
# Description

In case of multiple cluster we should add a label which will highlight that the metric belong to that clustername so we can see which cluster belong to

This might need to research and we should do on the dashboard level rather then on exporter

[2019-10-02 13:27] MalloZup opened #20 "Research on error handling in context of metrics"
# Desc:

I think we should in case of error set an empty metrics but not error/panic.
We should log an error but not interrupt.

It is something to be researched when the exporter need to panic

[2019-10-02 13:27] #12 closed

[2019-10-02 13:28] MalloZup opened #21 "Check if empty map"
We should check if the maps we are accessing are empty to avoid some possible errors if any

[code]

[2019-10-02 13:40] MalloZup opened #22 "Add cluster prefix to metrics"
We should check if we need a prefix of `cluster` or `ha_cluster` to each metrics

[2019-10-09 14:15] MalloZup commented on #22
we will do ha_cluster prefix

[2019-10-09 14:15] #22 closed

[2019-10-09 14:15] MalloZup commented on #20
we will handle this on trello planning

[2019-10-09 14:15] #20 closed

[2019-10-09 14:51] MalloZup commented on #21
done

[2019-10-09 14:51] #21 closed

[2019-10-10 09:33] MalloZup opened #25 "Implement DRBD monitoring"
# metric:

1) drbd Resource:

- `ha_cluster_drbd_resource{resource_name="1-single-0",  role="primary", volume="0", disk-state="uptodate", replication-state="etablished", peer-disk-state"uptodate"}`

- `ha_cluster_drbd_resource{resource_name="vg2",  role="secondary", volume="0", disk-state="uptodate" replication-state="etablished", peer-disk-state"uptodate"}`
- `ha_cluster_drbd_resource{resource_na

[2019-10-10 09:47] MalloZup commented on #25
drbdsetup status --json

[code]

[2019-10-10 13:13] diegoakechi commented on #25
@MalloZup My suggestion is that we could split the metrics in a way where the values represent the states and the label really identify the attributes for filtering (disk, nodes, etc). For example:

[code]

[2019-10-10 13:37] MalloZup commented on #25
small roadmap

1)  disk_state metric as suggested

this will follow same schema as 1)
2)  ha_cluster_drbd_resource_connection_state{resource_name="1-single-0", role="primary", volume="0" peer-node-id="2" peer-role="Secondary"} 1

[2019-10-11 11:38] ashleyprimo opened #27 "Feature Request: Implement Log Levelling"
It would be very nice to see the implementation of _log levelling_ to enable specification of log levels that are output which is a useful feature to have in use within a production environment.

In the current operation, the exporter continually output's *info* level logs.

**Example**:
[code]

[2019-10-11 13:30] MalloZup commented on #27
hi @ashleyprimo thx for issue! :robot:
Yep I definitely agree with you. I didn't had implemented it yet such feature because of minimalism but it would make sense to research a bit.
I agree that such  INFO  log.entry should  be transformed to DEBUG  etc.

[2019-10-11 15:22] ashleyprimo opened #28 "Bug / Feature Request: Cluster SBD Error'ing (when not present)"
I have noticed that when operating the exporter on a machine that does not have `sbd` setup the following set of errors are seen repeatedly:

[code]

There should maybe be a check such as

[code]

This would give a single output of `0000/00/00 00:00:00 [INFO]: SBD is not present... skipping.` instead of continually repeating an error in the absence of sbd. :)

[2019-10-14 08:31] ReyRen commented on #16
Same with mentioned by @gao-yan , in corosync2.4.+, link status seems only can be tell by return code of "corosync-cfgtool" and "runtime.totem.pg.mrp.rrp.0.faulty".

[2019-10-14 10:09] MalloZup opened #30 "refactor pacemaker metrics like DRBD one"
THe pr of drbd introduce a refactor of pacemaker (#26) .

This metric with types is similar to DRBD metrics.

We should follow the same pattern. Also add:

- move all function that belong to pacemaker to that new file
- add  unit-tests with a XML data example

[2019-10-14 10:14] MalloZup commented on #16
@ReyRen thx so far. I think for moment this issue is not super urgent but thx for all info was helpfull :rocket:

[2019-10-14 10:31] MalloZup opened #31 "improve english in readme"
The readme might contains some english phrases which need rewords or better statement for improving UX

[2019-10-14 10:35] MalloZup opened #32 "easy-fix: change travis import_path to correct one"
https://github.com/ClusterLabs/ha_cluster_exporter/blob/master/.travis.yml#L10 point to wrong github project.

Change the path to the actual repository `Clusterlab/ha_cluster_exporter`

[2019-10-14 10:37] MalloZup commented on #28
done

[2019-10-14 10:37] #28 closed

[2019-10-14 10:37] MalloZup commented on #28
thx!

[2019-10-14 10:57] TheCloudSaver commented on #31
I'll do this.

[2019-10-14 12:16] #32 closed

[2019-10-14 12:17] #31 closed

[2019-10-14 18:45] MalloZup opened #36 "DRBD Metric-02: Implement remote connection"
# desc

follow-up from https://github.com/ClusterLabs/ha_cluster_exporter/issues/25

 impmplement something like
` ha_cluster_drbd_resource_remote_connection{resource_name="1-single-0", role="primary", volume="0" peer-node-id="2" peer-role="Secondary"} 1`

[2019-10-14 18:45] MalloZup commented on #25
done

[2019-10-14 18:45] #25 closed

[2019-10-14 18:47] MalloZup opened #37 "Design a logo for ha exporter"
# desc:

It would be nice to have a logo for github project.

The logo should be a mix or remind to some elements  of Prometheus, Grafana and also something with Cluster and HA

[2019-10-14 18:51] MalloZup opened #38 "Create Index in Readme.md"
we should have an index in Markdown for each central point.

[2019-10-14 18:57] MalloZup opened #39 "update readme description"
# Desc
the readme contain an outdated text:

`This prometheus exporter is used to serve metrics for pacemaker https://github.com/ClusterLabs/pacemaker. It should run inside a node of the cluster or both.`

We now export more metrics like SBD, drbd and other components.

We should write a more generic description for this.

An example would be: (it might need improvement and research)

 Like the ex

[2019-10-14 19:02] MalloZup opened #40 "create a makefile target for running tests with code coverage and visualize them"
the golang language has the feature to create and display code coverage of unit- tests

Task:

- research about this interesting feature
- create a makefile target like `make coverage` this will execute tests with code coverage
By default we don't need it , so we will have `make coverage` and  `make test` will run without coverage. The make coverage will run `go test` with some flags

- this task

[2019-10-14 19:06] Nikhil-Vats commented on #38
Hey, correct me if I am wrong - Do you just need a table of contents with central points pointing to each section? If yes, I will send a PR tomorrow.

[2019-10-14 19:08] MalloZup commented on #38
@Nikhil-Vats yes thx!

[2019-10-14 19:20] Nikhil-Vats commented on #38
@MalloZup PR sent, let me know if I missed something.

[2019-10-14 20:56] mbiagetti commented on #40
Hi! I've proposed a solution

[2019-10-14 21:09] diegoakechi commented on #40
@mbiagetti Thanks for your collaboration!

@MalloZup I am not against on having code coverage included and enforced on the CI, not as a punishment tool, but as a tool to help us to grow the codebase without introducing regressions that often. Not saying that unit tests will cover everything or so, but many times the fact that you need to write tests makes you double check some parts and even refac

[2019-10-14 23:08] paulo-filho-dev commented on #39
@MalloZup I can help on this one

[2019-10-15 08:16] #40 closed

[2019-10-15 08:17] #38 closed

[2019-10-15 08:21] MalloZup commented on #39
thx

[2019-10-15 08:21] #39 closed

[2019-10-15 08:23] MalloZup commented on #40
@diegoakechi ok we can have it as long it doesn't write comments to PR or block them i'm fine

[2019-10-15 12:42] MalloZup opened #46 "Install logrous in golang modules"
# Desc:

we should use logrous (https://github.com/sirupsen/logrus) for a more fine grained control over logs.

# Tasks:

- install logrous in go module file

# Not mandatory
- 2) bonus convert some logs info to debug mode

[2019-10-15 13:16] MalloZup opened #47 "[challange]: build exporter package for archlinux or debian or centos7 other distro with OBS"
# description:

we need to build the exporter for other distros

A good one would be the centos7 since we already have the repo.

In case archlinux or debian, we could add repos there.

we build the pkg with:
https://build.opensuse.org/package/show/server:monitoring/prometheus-ha_cluster_exporter

# Tutorial:
https://duncan.codes/tutorials/rpm-packaging/

# what you will learn:

you will learn to

[2019-10-15 13:43] #30 closed

[2019-10-15 13:46] MalloZup opened #49 "easy-fix / testing: expand current test for pacemaker"
# description:

the following file has some unit-tests. https://github.com/ClusterLabs/ha_cluster_exporter/blob/master/pacemaker_metrics_test.go#L76

It would be nice to extend this tests following same pattern Just testing other attirbutes.

[2019-10-15 14:58] stefanotorresi commented on #46
implemented by #48

[2019-10-15 14:58] #46 closed

[2019-10-15 15:21] MalloZup commented on #27
@ashleyprimo this was implemented by last pr. However we need to consider adress them better .
@stefanotorresi  I think we can keep this issue open as reminder. Since it has a pb. The `info` about reading should be a devel thing. imho. A part of that, we might see other things.

@ashleyprimo  for any other suggestion feel free thx! :sun_with_face:

[2019-10-15 16:25] stefanotorresi commented on #27
yeah I thought about this. Since #48 introduced the log library, it should be easy enough now to change the level via flags.

[2019-10-15 18:21] mbiagetti commented on #49
Can I work on it?

[2019-10-15 18:28] MalloZup commented on #49
Yes feel free

[2019-10-16 07:34] #49 closed

[2019-10-16 11:52] MalloZup opened #54 "Error/warning need more context"
We have such erorr/warning:

`log.Warnln(err)`. Imho we should use `log.Warnf("context bro erorr by doing x %s," err)` so we have a more context info

[2019-10-16 11:52] MalloZup commented on #36
https://github.com/ClusterLabs/ha_cluster_exporter/pull/51

[2019-10-16 14:38] ashleyprimo opened #55 "Bug: DRBD Error'ing (when not present)"
Similar to #28 - an error is seen when DRBD is not set up on the system,
[code]

[2019-10-16 14:38] ashleyprimo commented on #55
Will create PR shortly

[2019-10-16 14:45] MalloZup commented on #55
@ashleyprimo  thx for this. I'm ok. Anyways the erroring out is fixed by last PR in Review.

But I'm ok to add a check on the begin of the golang routine to improve the error msg/UX

[2019-10-16 15:00] ashleyprimo commented on #55
I must've missed this, just looked our CI refused to build the versions due to `go mod tidy` of the `go.mod` - internal issue, i'll fix that :slightly_smiling_face:

[2019-10-17 08:30] MalloZup opened #57 "EASY-FIX: Add go fmt check in travis"
we should add a check in travis to check that golang code is properly formatted.

[2019-10-17 09:39] sathia27 commented on #57
@MalloZup I would like to contribute.

Few questions.
Makefile already have `go fmt` and we call that in travis. What new check to be added as part of this issue?

[2019-10-17 10:19] MalloZup opened #59 "depracate ha configured total metric?"
I have the feeling that this 2 metrics are providing same info that an user could grab by reading other metrics of cluster, doing a total etc.

In sake of minimalism we could perhaps just remove them

[code]
I think historically they were added as migration from hawk-apiserver original metrics but I was also doubting on their need to exist because imho one could do a promql for this 2 metrics.

Im

[2019-10-17 10:21] MalloZup opened #60 "research on how to remove/reset metrics"
Currenlty we have a function for resetting some metric with labels.

Historically I didn't find any API for doing this job with the prometheus api. This issue is more a placeholder for research if we can use some API to remove the metrics/reset the state them with prometheus api.

[2019-10-17 12:55] MalloZup commented on #57
@sathia27 thx feel free to contribute. :rocket:

The `go fmt` will not fail in makefile. So example: if I do a wrong indentation, the `go fmt` will just format it but not fail.

We need a target like `travis-lint` which will check if the golang files are formatted well and fail if it is the case.

Currently the go fmt is more a target for local dev.

When I run `make` this clean automatically.

Fe

[2019-10-17 13:09] MalloZup opened #61 "Rename ha_cluster_node_resoucres to ha_cluster_resources"
Rename ha_cluster_node_resoucres to ha_cluster_resources
# tasks:

- update code and tests
- update specification on metrics
- update dashboard and alerts when needed

[2019-10-17 13:37] MalloZup opened #62 "differentiate node type and status"
#  Desc
From metric `ha_cluster_nodes`
differentiate node "type" and "status":
type: member/remote
status: combinations of "online/standby/standby_onfail/maintenance/pending/unclean/shutdown/expected_up/is_dc".

follow-up from
https://github.com/ClusterLabs/ha_cluster_exporter/pull/58#discussion_r335948005

[2019-10-17 15:03] MalloZup opened #63 "DOC: find a way to generate documentation automatically and write other things manually"
# Description:

This issue is after discussion with me, @diegoakechi and @stefanotorresi.

We agreed that we should find a compromise between generating docs automatically and maintain them manually.

# Tasks:
- [ ] research and investigate what we can automatically create (Name of metric, HELP etc, list)

This task might depend also if we want to refactor the exporter with the usage of collector,

[2019-10-17 17:27] sathia27 commented on #57
@MalloZup
Thanks for your brief explanation.
I have given PR, please let me know if I something needs to be changed.

[2019-10-17 17:31] #57 closed

[2019-10-21 16:18] #47 closed

[2019-10-22 16:09] MalloZup commented on #61
fixed in next refactoring

[2019-10-22 16:09] #61 closed

[2019-10-23 12:27] ashleyprimo opened #69 "Feature Request: Implement a landing page"
Currently, if you visit the exporter on `http://localhost:9002/` you get a `404` error, which is not an issue per se, however, would be nice to have a simple landing page which just explains what the exporter is- similar to various others such as node exporter.

This could be done using something such as:
[code]

[2019-10-23 12:52] MalloZup commented on #69
I'm ok to mimic it thx for issue ! @stefanotorresi opinions?

[2019-10-23 15:01] stefanotorresi commented on #62
implemented in #66 as documented in https://github.com/ClusterLabs/ha_cluster_exporter/blob/master/doc/metric_spec.md#ha_cluster_pacemaker_nodes

[2019-10-23 15:01] #62 closed

[2019-10-23 15:03] stefanotorresi commented on #60
solved in #66

[2019-10-23 15:03] #60 closed

[2019-10-23 15:29] stefanotorresi commented on #63
Since the skeleton in [doc/metric_spec.md](../blob/master/doc/metric_spec.md) reached a good enough compromise by linking to the `.metrics` fixture files used to test the collectors, I'd say we can close this issue, do you agree?

[2019-10-23 16:48] stefanotorresi opened #74 "Travis configuration seems off"
We currently have 4 jobs, 2 for each stage (gofmt and build), but something must be off: we should only have 1 job per stage.

[2019-10-24 09:02] MalloZup commented on #63
yes we don't need to mantain complicated automation process. closing awesome

[2019-10-24 09:02] #63 closed

[2019-10-25 15:11] stefanotorresi commented on #74
fixed by #76

[2019-10-25 15:11] #74 closed

[2019-10-28 10:33] MalloZup commented on #69
done thx

[2019-10-28 10:33] #69 closed

[2019-10-28 11:03] MalloZup opened #78 "implement metric about resource configuration monitoring"
# desc:

Implement a metric which will give the date when a configuration is updated.

A pseudo/metric implementation would more or less like :

`ha_cluster_pacemaker_resource_configuration_changes= Mon Oct 28 11:03:29 2019`
the value should be timestamp

# How to implement this:

we have already the `crm_mon` command which expose this information with

[code]
# todo:

search to convert the `Mon O

[2019-10-28 12:06] MalloZup opened #79 "implement metric about constraints with ban"
# desc:

Metric should look like
`ha_cluster_pacemaker_constraint{type="ban|prefer" id="foobar"}`

# How to implement it:

1) use `crm resource ban rsc_ip_PRD_HDB00`
2) the `crm_mon` already show this info in field: `<bans>`

so it will show following:

[code]

And we can expose the ID of resource and add type

[2019-10-28 14:47] MalloZup commented on #59
ok closing since we find value

[2019-10-28 14:47] #59 closed

[2019-10-29 14:16] MalloZup commented on #78
done

[2019-10-29 14:16] #78 closed

[2019-10-29 16:34] ashleyprimo opened #81 "Feature Request: Implement listen IPv4 option"
Currently, it is not possible to alter which address the exporter will listen on; I propose the addition of a `-ip4` flag.

E.g. `./ha_cluster_exporter --ip4 127.0.0.1`

Pull request to follow :)

[2019-10-30 14:25] #79 closed

[2019-10-30 14:25] MalloZup commented on #79
doing closing

[2019-10-30 16:38] #81 closed

[2019-10-30 16:46] MalloZup opened #85 "Add changelog file"
discuss which format take fro changelog  and add one if needed

[2019-10-31 13:38] diegoakechi opened #87 "The cluster binaries locations varies depending on Releases or Distributions"
Depending on distro or on the service pack, the cluster binaries locations can vary, causing the exporter to not find the executable. For example, between SLE-12-SP3 and SLE-15, the binary `drbdsetup` has changed location and the exporter shows the following error:

```Oct 31 13:32:14 dev-1 ha_cluster_exporter[73317]: time="2019-10-31T13:32:14Z" level=warning msg="Could not initialize DRBD collect

[2019-11-02 09:24] ashleyprimo commented on #87
This could be solved using something such as `path, err := exec.LookPath("binary")`- I'll submit a PR for this (likely on Monday) if this is still open 👍

[2019-11-02 10:18] diegoakechi commented on #87
Great @ashleyprimo. Thanks!

[2019-11-04 12:23] MalloZup commented on #87
regarding PR and issue, I'm not sure if we are embarking on the good direction. Imho we should just use `command.exec`. https://golang.org/pkg/os/exec/#Command

In fact we are doing what already the command do , if you look at upstream doc:

[code]

[2019-11-04 13:45] ashleyprimo commented on #87
This is a very good point, makes sense that it would revert to `LookPath` natively; however, if were to just rely on the `exec` we would lose the ability to check if it's able to find the binary and if the binary is executable - since `os.Stat` relies on an absolute path.

Unless I'm missing something? :smiley:

[2019-11-04 14:12] MalloZup commented on #87
ok but on highlevel point this 2 check what they would provide? if we can't execute the binary (because of lack of findings or is not exec) we have an IF which check the error , and  an error is throwed

[2019-11-05 14:26] MalloZup opened #90 "Create SBD metric about number of device configured"
the metric should give 0 if there is not sbd device is configured and give a number int of the number

[2019-11-08 17:50] MalloZup commented on #18
this ISSUE we decided to don't go to this direction. Instead jobnames can be used for this without touching exporter. closing

[2019-11-08 17:50] #18 closed

[2019-11-08 17:51] #54 closed

[2019-11-12 12:11] #87 closed

[2019-11-12 14:23] #90 closed

[2019-11-12 14:24] MalloZup opened #93 "Add detailed value documentation to `*_total` metrics"
good idea. We should also do this for all the other ones, in the future, because actually non of the `*_total` metrics document their value.

_Originally posted by @stefanotorresi in https://github.com/ClusterLabs/ha_cluster_exporter/pull/92_

[2019-11-15 10:15] MalloZup opened #95 "ship 1st dashboard to grafana upstream"
# Description:

this card is not 100 related to this project but is part of milestone.

We should just ship the dashboard of ha_cluster to upstream grafana

# Tasks:

- research how can ship and if we need a bot user or soemthing similar for our org.

# Depends:

We should do it when we have all visualized the metrics. (0.1)

The grafana alerts should be a (0.2)

[2019-11-15 10:18] MalloZup opened #96 "Implement multi-cluster dashboard"
# Description:

we should implement a 3rd dashboard where we can show the global overview of multiples cluster

So we will have:

1) global clusters overview
2) ha-cluster single dashboard
3) hana dashaboard

[2019-11-15 10:19] MalloZup opened #97 "ha_cluster_exporter - provide different default configuration for different versions of the OS"
in the OBS build, we should bundle a different configuration file in `/usr/etc` for the versions of SLE that require so, so that the safe default paths for the external tools are correctly set and the package always works OOTB.

[2019-11-15 10:21] MalloZup opened #98 "RPM/pkging: check all oses for rpm"
do the prometheus exporters also support SLES12SP3 or only SP4 (and ater)? Specifically the node_exporter and ha_cluster_exporter.

We should check that the exporter build on all OS version we maintain

[2019-11-15 10:23] MalloZup commented on #85
taking this right now

[2019-11-18 16:35] #96 closed

[2019-11-18 16:35] #95 closed

[2019-11-19 10:31] MalloZup commented on #98
closing since duplicate with our system

[2019-11-19 10:31] #98 closed

[2019-11-19 10:31] #97 closed

[2019-12-06 13:18] diegoakechi opened #107 "Does not report error if the DRBD split brain file does not exist"
The exporter is reporting error because the split-brain directory does not exist

[code]

As this means that there is no split-brain, it should not be reported. If the file exists, this should be logged and should also explain that the sysadmin needs to remove the file after threating the split-brain.

[2019-12-10 10:27] MalloZup opened #109 "Drbd metric help-message need some improvemnt"
we should polish the `help` message of some DRBD metrics.
https://github.com/ClusterLabs/ha_cluster_exporter/blob/master/drbd_metrics.go#L49

We don't need the per line text etc. see pr #108

[2019-12-12 13:20] MalloZup commented on #27
@ashleyprimo @stefanotorresi I think we achieved this. Closing. Feel free to reopen or split in more pragmatic smaller issue. thx for all efforts!

[2019-12-12 13:20] #27 closed

[2019-12-12 15:22] stefanotorresi commented on #107
To be precise this is not about a file, it's about the directory that will contain the hook messages. We assumed the directory existed, before looking for files in it.

[2019-12-13 14:23] #107 closed

[2019-12-13 14:23] MalloZup commented on #107
closing fixed by pr in review

[2019-12-13 14:24] MalloZup opened #112 "Refactor: remove ReadDir call and the list of file returned by glob"
This is a specific refactor.

As we discussed, it could be an improvement to just use:
https://github.com/ClusterLabs/ha_cluster_exporter/blob/master/drbd_metrics.go#L183

and iterate over that list so we spare the ReadDir call

[2019-12-19 10:38] stefanotorresi opened #113 "Make timestamps opt-in"
Follow-up to SUSE/ha-sap-terraform-deployments#298

The solution would be to add a CLI flag, i.e. `--enable-timestamps`, so that we accommodate for the current use case as an opt-in, and revert to Prometheus best-practices by default.

[2019-12-19 11:28] stefanotorresi opened #114 "`ha_cluster_pacemaker_resources` doesn't report stopped resources"
Steps to reproduce:

1. log into a pacemaker node with the exporter running
2. add a dummy resource with `crm configure primitive test Dummy`
3. the query `ha_cluster_pacemaker_resources{resource="test"}` will return 1 line with `role="started"`
4. stop the resource with `crm resource stop test`
5. wait 5 mins for prometheus metric staleness (related #113)
6. query `ha_cluster_pacemaker_resources{

[2019-12-19 12:32] stefanotorresi commented on #114
This is even worse than initial thought, as it doesn't only affect primitive resources, but grouped ones:
I just tried to stop a resource which was part of a group, and since we're using the `--group-by-nodes` flag with `crm_mon`, the stopped resource no longer appears as a `<node>` XML child, so we don't export it.

Fixing this issue will probably need some non-trivial work on how we use the XML.

[2019-12-28 23:42] vvidic opened #117 "DRBD 8.4 monitoring not working"
Required `--json` option does not work with DRBD 8.4 kernel module loaded:

[code]

Are there plans to support 8.4 or is only DRBD 9 supported?

[2019-12-30 09:55] MalloZup commented on #117
@vvidic thx for issue I will look at

[2019-12-30 10:04] MalloZup commented on #117
@vvidic  ok I have checked this. I'm tagging this issue as open question with all maintainer.

@stefanotorresi and others we might need to discuss if we want to support a lower version of DRBD 8.4 or we might need to update documentation to state we need to say only drbd 9 supported

I personally don't know the 8.4 version but we might need to check if the API and data are the same among the 2 ver

[2019-12-30 10:27] vvidic commented on #117
On Mon, Dec 30, 2019 at 02:04:36AM -0800, Dario Maiocchi wrote:

Right, this is what the drbdsetup command gives for 8.4:

# drbdsetup status --verbose --statistics
drbddemo role:Primary suspended:no
    write-ordering:flush
  volume:0 minor:1 disk:UpToDate
      size:102360 read:0 written:0 al-writes:8 bm-writes:0 upper-pending:0 lower-pending:0 al-suspended:yes
      blocked:no
  peer connection

[2020-01-06 10:08] #109 closed

[2020-01-07 10:55] stefanotorresi commented on #117
this might require significant effort, both to implement and to maintain; we need to assess if supporting older versions of DRBD is desirable/required.

[2020-01-07 11:16] vvidic commented on #117
Yes, I understand. It's just that DRBD 9 is not in the mainline kernel, so some percent of the people will still run 8.4. If I have time, perhaps I can try to propose a patch for parsing 8.4 output?

[2020-01-07 12:04] stefanotorresi commented on #117
thanks @vvidic! We'll discuss this internally and let you know shortly if this is something we want to add; I wouldn't want you to spend time in a PR that I'm not sure would end up being merged at this time.

[2020-01-14 13:43] #113 closed

[2020-01-15 11:58] stefanotorresi commented on #117
Hey @vvidic, so we thought about this a little, and I regret to inform you that we eventually decided not to move on with the support for DRBD 8.4.
This project is developed mainly by SUSE employees for usage in SUSE Linux Enterprise Server, which ships DRBD version 9.0: we have no real use case for supporting older versions.
We could have welcomed the addition you suggested, but we found out that

[2020-01-15 11:58] #117 closed

[2020-01-16 13:27] stefanotorresi commented on #85
I'm wondering if we should just rely on GH releases and forget about this. What do you think @MalloZup ?

[2020-01-16 13:38] MalloZup commented on #85
@stefanotorresi yep I agree we can forget for moment on this. THere is not high pressure

[2020-01-16 13:38] #85 closed

[2020-01-28 14:19] MalloZup opened #121 "change the default port to prometheus upstream compatible"
@stefanotorresi  CC as reported.

I think before we change we might need to signal fist upstream the port then merge PR afaik

[2020-02-04 10:12] stefanotorresi commented on #121
closed by #122

[2020-02-04 10:12] #121 closed

[2020-02-05 15:38] MalloZup commented on #93
closed by latest pr we removed total

[2020-02-05 15:38] #93 closed

[2020-02-05 23:42] diegoakechi opened #125 "Reconsider having the total number of nodes metrics back"
The change introduced on https://github.com/ClusterLabs/ha_cluster_exporter/pull/123 have removed the total number of pacemaker configured nodes since it can be obtained via `count()`.

We should review this decision since the current cluster nodes metrics involves the list of the cluster nodes status too, what makes one node appear more than once, and what could be confusing to the user. See:

[c

[2020-02-20 15:42] stefanotorresi commented on #125
@diegoakechi I'm not sure about this.

We used the naming as the main deal-breaker with the `*_total` metrics: in Prometheus lingo, anything that is named `something_total` is an accumulator; so it's not a Gauge, it's a Counter, and as such, it can only increase over time.

But this was only the straw that broke the camel’s back: it made us do the leap and remove but it wasn't the only reason; aft

[2020-02-20 16:05] diegoakechi commented on #125
@stefanotorresi Ok, I think I got the point... closing it for now... maybe in future, my brain will complain about it again... hehe

[2020-02-20 16:05] #125 closed

[2020-02-26 10:10] mbothorel commented on #16
Hi, I can confirm the issue using corosync 3+ in Debian10.
Any plan to support it ? How can I help ?

[2020-02-27 13:02] #114 closed

[2020-02-27 13:05] MalloZup commented on #16
@mbothorel Hi.

If you want to help on this, you need to create a new metric with some labels.
Some doc:

https://github.com/ClusterLabs/ha_cluster_exporter/blob/master/doc/design.md

Also a part of setting up the development env., check my first comment on the issue which give an hint what  we need to achieve.

If you have any question feel free to ping me. There is no stupid question, :grin:

If

[2020-03-04 14:10] lotusnoir opened #138 "could not parse cibadmin status from XML: strconv.ParseInt: parsing \"0s\": invalid syntax"
Hello and thanks for your work
i have this message on the logs when i try to get the metrics from cibadmin, here is the XML

`<cib crm_feature_set="3.1.0" validate-with="pacemaker-3.2" epoch="32" num_updates="1" admin_epoch="0" cib-last-written="Wed Mar  4 14:55:08 2020" update-origin="test1.test.com" update-client="crm_attribute" update-user="root" have-quorum="1" dc-uuid="2">
  <configuration>

[2020-03-04 14:27] MalloZup commented on #138
@lotusnoir  hi! Thx for issue!

Could you be more precise on your issue? On which OS and version are you running the exporter? ANd also which packages are running in this host? (pacemaker etc versions.)

So if I'm understand correctly, you run the exporter and you have this message in your logs..

Which metric are you looking for and why do you want to change the seconds? Tia and feel free to ping

[2020-03-04 15:22] stefanotorresi commented on #138
@MalloZup I think this is a problem with these two fiels:
https://github.com/ClusterLabs/ha_cluster_exporter/blob/638cfd4365f7d504229088523162b62a4159efc2/collector/pacemaker/cib/data.go#L52-L53
These are the only ones we try to parse as `int`, but if the input is something like `30s` Go cannot unmarshall them.

[2020-03-05 09:47] MalloZup commented on #138
Ok but I still don't get the context of the problem and user issue

[2020-03-05 10:41] stefanotorresi commented on #138
We just need to use string as the type for those two fields. We don't actually use them anywhere at the moment, so no further processing is needed. In the future, we might need to convert strings like "30s" to the proper time duration type.

[2020-03-06 15:35] lotusnoir commented on #138
Hello, soryy for the delay
I'm running into a debian buster
`ii  corosync                         3.0.1-2                     amd64        cluster engine daemon and utilities
ii  crmsh                            4.0.0~git20190108.3d56538-3 all          CRM shell for the pacemaker cluster manager
ii  libcorosync-common4:amd64        3.0.1-2                     amd64        cluster engine common lib

[2020-03-06 17:59] MalloZup commented on #138
thx @lotusnoir for info.

[2020-03-12 10:53] #138 closed

[2020-03-17 01:57] kilida2020 opened #141 "DRBD on Debian 10 buster, DRBD is at version 9.5.0. doesn't work"
Olá,
Ao tentar coletar as informações do DRBD apresenta erro. Alguém pode ajudar?

INFO[0000] Using config file: /home/master/ha_cluster_exporter/ha_cluster_exporter.yaml
WARN[0000] could not initialize Pacemaker collector: '/usr/sbin/crm_mon' does not exist
WARN[0000] could not initialize Corosync collector: '/usr/sbin/corosync-cfgtool' does not exist
WARN[0000] could not initialize SBD collector

[2020-03-17 15:30] MalloZup commented on #141
@kilida2020 hey thx for your issue.
Can you write it in english?
 I cannot full understand.

what linux operating system are you using? Which version of OS and which version of drbd?
thx!

[2020-03-17 15:47] kilida2020 commented on #141
I am using Debian 10 buster, DRBD is at version 9.5.0.

Ha_cluster_exporter is unable to collect DRBD metrics.
Displays the error message below.

WARN[0015] Error while retrieving drbd infos exit status 20

[2020-03-18 11:01] MalloZup commented on #141
@kilida2020 ok. the error you have is because the exporter cannot execute the cmmand. Afaik, we used 8.0 not 9.

can you execute this command ``` "/sbin/drbdsetup"``` `"status", "--json`?

where do you have the binary located ```drbdsetup```?

It could be that :

- the binary is located in other path. -> you can change the configuration exporter to this path. see `--help` and doc

- it could be th

[2020-03-18 15:35] kilida2020 commented on #141
Well, another question
Will it only work in version 8.0 or any version referring to 8.0, for example 8.4, 8.9?

[2020-03-18 15:47] diegoakechi commented on #141
@kilida2020 Claryfing here...the project supports DRBD 9 and higher... DRBD 8 is not supported. @MalloZup has mixed the versions on his answer.
As mentioned, the problem can be related with different binary paths, so can you check where is your `drbdsetup` binary located and check the output of the status command with --json output?

[2020-03-18 16:11] kilida2020 commented on #141
So Claryfing, the binaries are in / sbin / drbsetup, which is the default.
When checking out with --json, can you instruct me how to do that?

[2020-03-18 16:15] diegoakechi commented on #141
@kilida2020 just execute the command as the example below and paste here the result:

[code]

[2020-03-18 16:26] kilida2020 commented on #141
You do not recognize this command. Have to install something else to run it

root@node1:/# /sbin/drbdsetup status --json
status: unrecognized option '--json'

USAGE: drbdsetup command device arguments options

Device is usually /dev/drbdX or /dev/drbd/X.

Commands are:
    primary             secondary           attach              disk-options        detach              connect             net-op

[2020-03-18 17:06] diegoakechi commented on #141
Hum... Seems your `drbdsetup` does not supports the json output. Not sure since when it is available. @nick-wang do you know on what patch set the `--json` was introduced?

[2020-03-18 17:37] MalloZup commented on #141
@diegoakechi thx for support and clarification to @kilida2020

@kilida2020  thx for help sofar!

Ok seems that your binary doesn't the `--json`flag as I have guessed.

Let's wait from Nick some info. Maybe you can patch the binary.

[2020-03-19 14:09] kilida2020 commented on #141
Hey Clarifying,
You can tell me which distribution and version you use that works and which version of DRBD and DRBD-UTILS

Thanks,

[2020-03-19 16:11] diegoakechi commented on #141
@kilida2020 It works for sure on SLES and openSUSE. On the oldest version we have tested at SUSE we have the `drbd-utils` version 9.0.8.

Looking on the changelog of `drbd-utils` the --json options was introduced on version 8.9.8 (https://github.com/LINBIT/drbd-utils/blob/master/ChangeLog#L213) , so it should be available for you too.
I recommend you to check if the Debian package you are using ev

[2020-03-23 03:07] nick-wang commented on #141
@kilida2020 @diegoakechi is correct. "--json" support first introduced into drbd-utils since 8.9.8 (https://github.com/LINBIT/drbd-utils/commit/f04cb0f67b2e8264cb9b977aa2a46e10ac26c38e), though have polish/enhancement after.

[2020-03-23 12:01] kilida2020 commented on #141
OK @nickwang, obrigada pela inforamção, mas você sabe informar se esta implementação ocorreu também para o DRBD-UTILS para distribuíções Debian? Porque naõ está funcionando no Debian 10

[2020-03-23 12:01] kilida2020 commented on #141
ops,
OK @nickwang, thanks for the information, but do you know if this implementation has also occurred for DRBD-UTILS for Debian distributions? Because it is not working on Debian 10

[2020-03-23 12:58] diegoakechi commented on #141
Hi @kilida2020,

The implementation was done on the code upstream, on the github project, so it should be available for any distribution. Sometimes, some features are disabled on the package build `.deb` or the package is using some old version of the code. You need to check what package are you using and from where it gets the source code.

------------------------- Portuguese Version
A implement

[2020-03-26 18:38] diegoakechi commented on #141
@kilida2020 can you please check my last comment? If it is clear enough for you, I will close the issue.

[2020-03-26 19:11] kilida2020 commented on #141
Hi @diegoakechi,

I am using the sources of this site https://salsa.debian.org/ha-team/drbd-utils/-/tags/, it has all the versions, I have already tested several from 8.9.8, which includes the implementation of json according to the Changelog but to no avail. Can you test it out there and help me?

[2020-03-27 04:34] nick-wang commented on #141
@kilida2020 The drbd-utils source code looks the same, but i am not sure how `deb` package it. (Didn't try DRBD on Debian before)
Could you list your DRBD kernel module version in your system as well? like `modinfo drbd`.

[2020-03-27 13:05] kilida2020 commented on #141
@ nick-wang, yes I use drbd in debian, but only the ha_cluster_exporter tool from Linbit is not working.
Following is the result of the modinfo drbd:
root@srvlabm:/home/master# modinfo drbd
filename:       /lib/modules/4.19.0-8-amd64/updates/drbd.ko
alias:          block-major-147-*
license:        GPL
version:        9.0.22-1
description:    drbd - Distributed Replicated Block Device v9.0.22-1
au

[2020-03-27 16:04] nick-wang commented on #141
@kilida2020 The DRBD is new enough to have the `json` support. Just like Diego mentioned, more likely the feature is disabled in package build. While ha_cluster_exporter is using the `json` output to parser...

[2020-03-27 18:33] diegoakechi commented on #141
Maybe @vvidic could give you a hint on how to get drbd-utils with the json output. @vvidic could you help us here?

[2020-03-27 20:27] vvidic commented on #141
Can you give us:
[code]

From what I can tell it checks the version in /proc/drbd and than executes the correct variant of drbdsetup. In my case:
[code]

[2020-03-27 20:53] kilida2020 commented on #141
@vvidic

root@srvlabm:/home/master# dpkg -l drbd-utils
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Nome           Versão       Arquitectura Descrição
+++-==============-============-============-=============================================
rc  drbd-utils

[2020-03-27 20:56] vvidic commented on #141
Yes, so you still have the default drbd v8.4.10 module from Debian kernel loaded.

You need to unload it and load the new one with drbd 9 support.

[2020-03-27 21:00] diegoakechi commented on #141
@vvidic thanks a lot.

[2020-03-27 23:15] vvidic commented on #141
No problem, hope it helps :)

[2020-03-28 09:46] MalloZup commented on #141
thx @vvidic  for feedback and help! :rocket: :green_heart:

[2020-03-28 15:57] kilida2020 commented on #141
@vvidic

It worked, I downloaded the DRBD 9 Linux Kernel Driver, compiled and installed it and it worked.
Thank you so much for your help and patience.
Thank you all,

root@srvlabm:/home/master# drbdsetup status --json
[
{
  "name": "drbdMtz",
  "node-id": 0,
  "role": "Primary",
  "suspended": false,
  "write-ordering": "flush",
  "devices": [
    {
      "volume": 0,
      "minor": 1,
      "dis

[2020-03-28 16:03] vvidic commented on #141
Cool, thanks for the update :)

[2020-03-30 08:54] diegoakechi commented on #141
Ok, so closing this issue.

[2020-03-30 08:54] #141 closed

[2020-03-30 08:56] MalloZup commented on #141
thx!

[2020-04-08 17:35] kilida2020 opened #146 "error cibadm - debian 10 buster"
Hi,

I have the error below in the ha_cluster exporter, so the metrics of Pacemaker are not being exported,
Can you check what can cause this type of error?

WARN [0006] could not parse cibadmin status from XML: strconv.ParseInt: parsing "29s": invalid syntax

Thanks,

[2020-04-08 18:11] diegoakechi commented on #146
@kilida2020 hi,

This looks really similar to https://github.com/ClusterLabs/ha_cluster_exporter/issues/138

Are you using the latest version of the exporter? If yes, can you share the CIB XML that you have on your cluster?

[2020-04-09 00:09] kilida2020 commented on #146
You're right, I'm sorry, my version was old, I updated it and the bug was fixed.
However you are now displaying the message below and the metrics for corosync ring errors are not collected

WARN [0095] cannot parse ring status: corosync-cfgtool returned unexpected output: Printing link status.
Local node ID 2
LINK ID 0
         addr = 128.1.0.87
         status = OK

[2020-04-09 08:49] diegoakechi commented on #146
@kilida2020 Ok, just to have a better organization, I will close this issue. Can you open a new one for the corosync error? Please, run the exporter on debug mode and include the extra messages on the new ticket too.

Thanks.

[2020-04-09 08:49] #146 closed

[2020-04-09 12:47] kilida2020 commented on #146
OK no problems.
Just instruct me how to run in debugger mode, please.

Thanks,

[2020-04-09 13:06] kilida2020 opened #147 "corosync (v3) ring error - debian 10"
Hi,

I am not able to collect the metrics of the corosync ring, present the message below:

INFO[0000] Serving metrics on 0.0.0.0:9664
DEBU[0004] Collecting corosync metrics...
DEBU[0004] Collecting pacemaker metrics...
DEBU[0004] Collecting DRBD metrics...
WARN[0004] cannot parse ring status: corosync-cfgtool returned unexpected output: Printing link status.
Local node ID 1
LINK ID 0
        addr

[2020-04-09 20:00] kilida2020 commented on #147
Hi,

I can't collect the metrics for the corosync ring, please display the message below:

INFO [0000] Displaying metrics at 0.0.0.0:9664
DEBU [0004] Collecting corosync metrics ...
DEBU [0004] Collecting pacemaker metrics ...
DEBU [0004] Collecting DRBD metrics ...
WARN [0004] cannot analyze the status of the ring: corosync-cfgtool returned an unexpected exit: Printing link status.
Local node ID

[2020-04-10 10:36] MalloZup commented on #146
@kilida2020

[code]

[code]

[2020-04-10 10:42] MalloZup commented on #147
@kilida2020 thx for issue.

I have checked your issue. IT seems that you don't have any RING in your clusters, so that is why you get this warning.

can you run
[code]

you should have something like this
[code]

[2020-04-13 17:38] kilida2020 commented on #147
Hi,

This is my corosync configuration file.
You can analyze, I see that the RING is configured.

totem {
  version: 2
  cluster_name: debian
  secauth: off
  transport:udpu
  interface {
    ringnumber: 0
    bindnetaddr: 128.1.0.0
    broadcast: yes
    mcastport: 5405
  }
}

nodelist {
  node {
    ring0_addr: 128.1.0.86
    name: srvlabm
    nodeid: 1
  }
  node {
    ring0_addr: 128.1.0.87

[2020-04-14 15:21] diegoakechi commented on #147
@kilida2020 as requested by @MalloZup, can you post the output of the command below:
` sudo corosync-cfgtool -s`

[2020-04-14 17:50] kilida2020 commented on #147
root@srvlabm:/etc/vbox# corosync-cfgtool -s
Printing link status.
Local node ID 1
LINK ID 0
        addr    = 128.1.0.86
        status  = OK

[2020-04-15 09:31] MalloZup commented on #147
@kilida2020 thx. can you tell me which version of pkg corosync etc,  are you using since I don't have any  debian 10 machine? thx lot sofar :+1:

[2020-04-15 10:47] kilida2020 commented on #147
root@srvlabm:/home/master# corosync -v
Corosync Cluster Engine, version '3.0.1'
Copyright (c) 2006-2018 Red Hat, Inc.

[2020-04-15 16:02] MalloZup commented on #147
@kilida2020 ok thx sofar. I have investigated a bit is that the new corosync v3 brings a new API where we depends on.

We need to fix this in near future.

For example the `RING` is now called `LINK` and the status has changed.

[2020-04-21 12:55] stefanotorresi commented on #147
I will mark this as "new feature/enhancement" because supporting corosync3 was not in the plans.

This is certainly worth pursuing, and more generally supporting different versions of the tools we leverage, but I'm afraid we don't have the capacity right now, so contributions are welcome...

[2020-04-22 11:06] #112 closed

[2020-04-30 13:54] stefanotorresi commented on #147
@kilida2020 I can confirm that support for Corosync v3 will come at some point in the future, however
#151 introduced a refactoring that should make implementing a new cfgtool parser easy enough, so feel free to have a stab at it with a PR; otherwise, you'll have to wait until this feature enters our planning, which may take weeks/months.

[2020-05-09 13:07] vvidic commented on #147
Another problem with Corosync 3.0.3 seems to be that the Ring ID field has changed from Id/Seq:

[code]

[2020-05-11 10:27] cameronkerrnz opened #155 "Sample Prometheus alerting rules"
Hello, I am interested in using your exporter to help monitor my two-node cluster that has DRBD version 9 with a master-slave relationship, a floating IP and filesystem and a MariaDB systemd service managed by pacemaker. I was particularly happy to see that you have DRBD version 9 support.

I've had one failure mode that I've encountered thus far caused by a matching kernel module that was missing

[2020-05-11 12:19] MalloZup commented on #155
@cameronkerrnz hi thx for you issue.
Yes, we place the alerts here: https://github.com/SUSE/ha-sap-terraform-deployments/blob/master/salt/monitoring/prometheus/rules.yml

Also we have the dashboards grafana here:

https://github.com/SUSE/ha-sap-terraform-deployments/tree/master/salt/monitoring/provisioning/dashboards
As note, this are alerts as "showcase" so some adaption might needed.

Let me kno

[2020-05-11 19:29] cameronkerrnz commented on #155
Thanks!

[2020-05-11 19:29] #155 closed

[2020-05-29 10:15] stefanotorresi commented on #147
this should be fixed by #156.
@kilida2020 could you please test against the latest `master` branch?

[2020-06-03 12:21] stefanotorresi opened #159 "Implement per-collector `scrape_success` metrics."
Taking inspiration from prometheus/node_exporter#516, MSFT asked to implement something to track the status of each single collector, because right now we just log failures occurring inside `Collect` cycles, but we don't produce HTTP errors (which would prevent all the other functioning collectors from being scraped, even if just one fails).

[2020-06-04 21:27] kilida2020 commented on #147
@stefanotorresi

Hi,
Where do I download the corrected code for test? On the github?
Thanks,

[2020-06-04 21:46] rmakram-ims commented on #147
it's in the master branch, you can use the installation instructions on the readme, easiest way is to use "go get github.com/ClusterLabs/ha_cluster_exporter"

[2020-06-04 22:10] kilida2020 commented on #147
@rmakram-ims

Hi,
Still reporting the same error

root@srvlabs:~/work/bin# ha_cluster_exporter
INFO[0000] Using config file: /etc/ha_cluster_exporter.yaml
INFO[0000] Pacemaker collector registered
INFO[0000] Corosync collector registered
WARN[0000] could not initialize SBD collector: '/usr/sbin/sbd' does not exist
INFO[0000] DRBD collector registered
INFO[0000] Serving metrics on 0.0.0.0:9664
WARN

[2020-06-04 22:20] kilida2020 commented on #147
@rmakram-ims

Sorry, I tested it with an old file. It worked !!!!

root@srvlabs:~/work/bin# ./ha_cluster_exporter
INFO[0000] Using config file: /etc/ha_cluster_exporter.yaml
INFO[0000] Pacemaker collector registered
INFO[0000] Corosync collector registered
WARN[0000] could not initialize SBD collector: '/usr/sbin/sbd' does not exist
INFO[0000] DRBD collector registered
INFO[0000] Serving metrics o

[2020-06-04 22:20] rmakram-ims commented on #147
I was able to test it with my changes and with the latest from the master branch on corosync version 3.0.3.

[2020-06-04 22:20] rmakram-ims commented on #147
glad to see it working!

[2020-06-04 22:22] kilida2020 commented on #147
Me more, very good work!

Thanks

[2020-06-04 22:23] rmakram-ims commented on #147
anytime, I needed this as well, decided it was worth investing the time into it. The maintainers of this repo reviewed it very quickly!

[2020-06-04 22:27] kilida2020 commented on #147
Yes, congratulations to everyone. I really needed this solution.
Thanks again

[2020-06-05 08:02] MalloZup commented on #147
great happy it worked out! best

[2020-06-05 08:02] MalloZup commented on #147
I think we can close this issue afaik>

[2020-06-05 08:09] stefanotorresi commented on #147
you, thank you all for reporting!

[2020-06-05 08:09] #147 closed

[2020-06-15 13:22] steffenv-msft opened #161 "Export hostname"
The hostname should be available in the data exported on the endpoint to help identifying them in later analytics steps.
If connecting to the endpoints i.e. by IP address (http://IP:9664/metrics), it's currently impossible to correlate data imported to analytic data sources, unless there is a (manual) mapping somewhere available to the analytical data source also.
Ideally the cluster name can be m

[2020-06-15 15:02] diegoakechi opened #162 "Include Cluster Attributes Metrics"
Some resource agents uses the Cluster Attributes for communication between nodes and also to store some internal metadata that are used in order to make decisions. The ha_cluster_exporter should expose these attributes as it can compose better alerting and troubleshooting when the cluster take some actions. On example is the SAPHanaSR resource agents that uses the below attributes:

[code]

Depend

[2020-06-15 15:37] stefanotorresi commented on #161
Hey @steffenv-msft,
Yeah, we are well aware of this issue, and we have been having some discussions about this.
The problem is that this exporter is quite atypical in the fact that it exports data related to other nodes other than the exporter host itself; we are evaluating different solutions for this problem.
We're not super-enthusiastic about putting static metadata in dedicated time-series, si

[2020-07-03 08:33] #162 closed

[2020-07-13 05:29] #159 closed

[2020-07-16 10:14] efoft opened #170 "corosync membership parsing with qdevice enabled"
Same problem as in #154 but with corosync-2.4.5-4.el7.x86_64 on CentOS 7

Jul 16 13:01:57 nfs01 ha_cluster_exporter: time="2020-07-16T13:01:57+03:00" level=warning msg="'corosync' collector scrape failed: corosync parser error: could not parse members in corosync-quorumtool output: could not find membership information"

The output of corosync-quorumtool now looks like:

[code]

See 'Qdevice Name'

[2020-07-16 11:16] stefanotorresi commented on #170
@efoft I guess this only applies when a Qdevice is being used?

[2020-07-16 12:08] stefanotorresi commented on #170
okay, so, it turns out that using the `-p` flag on `corosync-quorumtool` and add the `Qdevice` column to the parser should do the trick, without worrying too much about supported corosync versions, since this is actually quite an old functionality and we should've used it from the start.

[2020-07-17 11:06] iglov opened #171 ""'corosync' collector scrape failed: corosync parser error: could not parse members in corosync-quorumtool output: could not find membership information""
[code]

[2020-07-17 11:22] stefanotorresi commented on #171
duplicate of #170

[2020-07-17 11:22] #171 closed

[2020-07-17 11:25] iglov commented on #171
@stefanotorresi you should change there issue name - remove version of corosync, this is confusing.

[2020-07-17 11:32] stefanotorresi commented on #171
good point, @iglov, done!

[2020-07-17 11:36] iglov commented on #171
@stefanotorresi thx 4 ur time!

[2020-08-05 16:43] MalloZup commented on #170
working on this

[2020-08-06 14:05] #170 closed

[2020-08-31 09:50] MalloZup opened #173 "use crm_mon (contributing upstream for supporting it) instead parsing CIB.xml"
Parsing CIB is something we should remove and use more "conventional" tools like `crm_mon`.

Also right now we should use just `crm_mon` and improve it upstream to support the needed data.

In past we parsed the cib with `cibadmin` as workaround but the cleanest solution would be to implement the metric with `crm_mon`

see
https://github.com/ClusterLabs/ha_cluster_exporter/blob/0af48bf78a8a50bff01

[2020-08-31 09:56] stefanotorresi commented on #173
`crm_mon` is just an additional layer that parses the CIB itself, why would it be the "cleanest solution"?
What are the shortcomings of parsing the CIB directly?

[2020-08-31 10:07] MalloZup commented on #173
It is a discussion i had back in time with @gao-yan and `crm_mon` should be considered the official tool for getting a right formatted data.

We are using here `cibadmin` binary for getting only one metric, the constraint metric.

Instead of maintaining 2 binary tools with different API/ABI breaking changes that we can have,  we should consolidate to the `crm_mon`.

Also could be a nice improvment

[2020-08-31 10:24] stefanotorresi commented on #173
I guess we should open an issue on the Pacemaker project to add the feature we require to `crm_mon`, then. :)
I'm still not entirely sure if the benefits are worth the amount of work this will require; in fact, at some point I thought the other way around: to simplify the exporter, we could just use the CIB and not use `crm_mon` at all!

[2020-08-31 10:31] MalloZup commented on #173
it is a tracking issue which we can reference later on.  :)

Parsing the CIB directly has in my knowledge some contra-effects and risks comparing to `crm_mon`. Maybe @gao-yan could explain more.

I think if there is no contra to parse the CIB directly and it provides the same functionality/stability as crm_mon we can get rid definitely of both binaries, for that is true.

[2020-08-31 10:34] stefanotorresi commented on #173
okay, let's keep this in the back burner and see how the whole contributing-to-upstream thing goes.

[2020-08-31 12:09] MalloZup commented on #173
yep it is definitely something as prio/low or tech-debt but is ok to track

[2020-10-12 13:36] oxedions opened #177 "Exporter output when pacemaker is down"
Hi !

First, thanks a lot for this HA exporter. We are now using it as a base exporter for our HA. 😊

I had a question regarding the fact that you start the exporter with dependency to pacemaker in your service file.

https://github.com/ClusterLabs/ha_cluster_exporter/blob/master/ha_cluster_exporter.service

This brings 2 questions on my side :

1. What happen when pacemaker is down ? What is the

[2020-10-12 13:59] MalloZup commented on #177
hi @oxedions  nice question and valid remarks :+1:

1) by design the `ha_cluster_exporter` if pacemaker or any collector is down, it will not gather and expose the metrics.

This is https://github.com/ClusterLabs/ha_cluster_exporter/blob/8b8f9ce126d013aca5e8ea1d4568b3db64d69db8/ha_cluster_exporter.go#L122

we raise/error only if 0 collector are registered. (@stefanotorresi  maybe we could think to

[2020-10-12 15:30] diegoakechi commented on #177
@oxedions The exporter itself will report a metric exposing with the collector could collect the data or not: https://github.com/ClusterLabs/ha_cluster_exporter/blob/master/doc/metrics.md#ha_cluster_scrape_success. Also, if Prometheus cannot scrap some target, like the exporter is not reachable, it will also report a metric called UP (see: https://prometheus.io/docs/concepts/jobs_instances/). On b

[2020-10-12 15:48] stefanotorresi commented on #177
This is how it was before, and we deemed it was very unpredictable as a behaviour. If there are no services to introspect, then the exporter will fail outright so that the `up` metric reports the failure; there is no point in having the exporter still running without exporting anything.

[2020-10-13 20:56] oxedions commented on #177
Dear @MalloZup , Dear @diegoakechi , Dear @MalloZup ,

So I can monitor `ha_cluster_scrape_success`, this is the value I was looking for.

By default, I start the ha_exporter at boot, and not corrosync/pacemaker, which is why I forked your service file.
I am doing that because the exporter, in our configuration, is expected to run anytime, even if nothing is exported (having nothing exported, i.e.

[2020-10-13 21:02] btravouillon commented on #177
Well, in fact we do start the ha_exporter in a clone resource now.

[2020-10-14 09:20] stefanotorresi commented on #177
I guess I can close this then. :v:

[2020-10-14 09:20] #177 closed

[2020-10-14 12:58] oxedions commented on #177
Yes, thanks a lot ! 😊

[2020-10-22 06:35] whoamiUNIX opened #178 "Change releases naming"
Hello,

I would suggested to follow other official exporters naming. For exmaple "node-exporter", "blackbox_exporter" all this exporters follow naming in github based on releases:

For example "node exporter"
Release version 1.0.1
node_exporter-1.0.1.linux-amd64.tar.gz

Your release of "ha_cluster_exporter"
Release version 1.2.0
ha_cluster_exporter-amd64

Is possible to include file in "tar.gz" an

[2020-11-02 15:47] stefanotorresi commented on #178
We did had the version name in the binary but we removed it because the version is present in the path itself, e.g.:

`https://github.com/ClusterLabs/ha_cluster_exporter/releases/download/1.2.0/ha_cluster_exporter-amd64`

[2020-11-02 16:35] MalloZup commented on #178
@whoamiUNIX  hi thx for issue.

can you share here your automation more explicitly  so we can have look and maybe provide you an hint how to get the pkg?

I think that somehow with ansible you could get the latest new version without relying on a tarball version but looking at GitHub url.

[2020-11-04 12:19] whoamiUNIX commented on #178
@MalloZup Yes, I need to download exporter and then store it in [orcharhino](https://orcharhino.com/en/) side. Target systems are not connected to internet due security reason. I have separated repository where I store exporter and then I deploy it via ansible on target nodes. The problem here is that when I download it here it contain version only in github URL. If version is directly mentioned i

[2020-11-04 13:59] stefanotorresi commented on #178
We can add compression no problem, but I'm afraid we're not adding the version to the name just for your specific use case.
Besides, you can name your downloaded files however you desire!

You can just put the version in the destination of your download operation, e.g.:
[code]

[2020-12-14 16:01] towo commented on #161
If you're worried about determinability: Export a metric that checks if connection to the cluster endpoint is possible and attach the basic CIB options (cluster name, cluster-infrastructure, etc.) to it as labels. The only issue you'd walk into is that you'd have to parse the XML when the endpoint's actually down.

[2020-12-16 16:58] alishavez7 opened #181 "OS (Linux) provider"
Hi Team,

I want to add the OS (Linux) provider but still there is documentation available on MS Doc site. Could you suggest what should be the value of "Node Exporter Endpoint" parameter value. I tried with the same Prometheus Endpoint url but it is not working.

Please suggest and also update the documentation how to add the OS(Linux) provider to Azure monitor for SAP Solution.

[2020-12-16 17:17] #181 closed

[2021-01-15 14:55] MalloZup opened #182 "research about addition of codeql"
https://github.com/prometheus/prometheus/pull/8249/files

as pro-memoria task

[2021-02-09 01:45] pvaldria opened #183 "Node atttributes and Systemd units data not showing up in Grafana"
Node atttributes and Systemd units data not showing up in Grafana.  Please see attached screenshot.     Is it a known issue ?
I have a pacemaker/corosync NFS HA cluster (active/passive) with shared disk  and using SBD fencing agent.

I had to add the below to /etc/prometheus/prometheus.yml
`
- job_name: 'nfs-ha'
    scrape_interval: 5s
    static_configs:
      - targets: ['nfs-server-1.storage.nf

[2021-02-09 01:56] pvaldria commented on #183
More details:

`Feb  7 12:15:10 nfs-server-2 systemd: Started Prometheus exporter for Pacemaker HA clusters metrics.
Feb  7 12:15:10 nfs-server-2 ha_cluster_exporter: time="2021-02-07T12:15:10Z" level=warning msg="Config File \"ha_cluster_exporter\" Not Foun
d in \"[/ /.config /etc /usr/etc]\""
Feb  7 12:15:10 nfs-server-2 ha_cluster_exporter: time="2021-02-07T12:15:10Z" level=info msg="Default co

[2021-02-09 08:15] diegoakechi commented on #183
Hi @pvaldria,

Systemd and other OS related metrics are provided by the Prometheus Node_exporter. Do you have it running on your system too? The ha_cluster_exporter is specialized to provide Clusterlabs components metrics.

[2021-02-09 08:20] pvaldria commented on #183
yes, I have the node_exporter service running on all nodes and on the Grafana/Prometheus server, I have the following:

The last job below (  - job_name: 'nfs-ha-cluster') I added for displaying HA details and I mentioned port 9664.

/etc/prometheus/prometheus.yml
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s

[2021-02-09 10:22] diegoakechi commented on #183
@pvaldria another check: Did you enable systemd collector on your node_exporter configuration? It comes disabled by default.

https://github.com/prometheus/node_exporter#disabled-by-default

[2021-02-09 11:14] #183 closed

[2021-02-23 11:05] tdesaules opened #185 "No data from the dashboard"
Hi there,

I try to enable the detailed dashboard. I can't get any data from it.
I think there I don't uderstand the "job" in the doc :

`They also assume that the target nodes in each cluster are grouped via the job label.`

I don't know how to group node based on a job label. In fact I can't find any doc regarding some label/job stuff

My corosync.conf look like :

[code]

[2021-02-23 11:35] #185 closed

[2021-03-16 00:08] rudexi opened #187 "Issue with `ha_cluster_pacemaker_config_last_change` and timezone"
Software used:
* CentOS 8.2
* ha_cluster_exporter 1.2.1
* pacemaker 2.0.3-5

I'm experiencing issues with the `ha_cluster_pacemaker_config_last_change` metric.
It does report the time in Unix time format, but it takes the time as if it was GMT, while `crm_mon` reports it without any timestamp markup, resulting in the error.
This error is very noticeable for time zones in advance from GMT, since th

[2021-03-16 09:18] stefanotorresi commented on #187
I wasn't aware that crm_mon would report the time as local, I assumed it was UTC, my bad!
It totally makes sense to convert it to UTC when we collect it in the exporter.

[2021-04-08 14:08] jamesyu558 opened #188 "corosync parser error: could not parse node id in corosync-quorumtool output: could not find Node ID line"
Hi Support,

The following corosync parser error on the "Node ID" exists on the v1.2.0.  So I upgraded the ha_cluster_exporter from v1.2.0 to the latest version v.1.2.1 on my RHEL7 VM.  But unfortunately, this error still exists on v1.2.1.

The error message is and noticed that the field name complained by corosync is "Node ID":
msg="'corosync' collector scrape failed: corosync parser error: could

[2021-04-08 14:46] stefanotorresi commented on #188
I'm not able to reproduce this issue: your example matches the regex we're using to parse quorumtool output.
What's the output of `ha_cluster_exporter --version`?

[2021-04-08 14:50] stefanotorresi opened #189 "Compress binaries attached to GH releases"
To partially answer #178 , we should change the current GH Actions configuration so that we attach compressed binaries instead of uncompressed ones.

I wouldn't be surprised if the action we are already using here:
https://github.com/ClusterLabs/ha_cluster_exporter/blob/4fceb77b3a195bbce12f54e23569a66e20f50bc3/.github/workflows/exporter-ci.yml#L40-L43
had a one liner option to do that.

[2021-04-08 14:50] stefanotorresi commented on #178
closing in favour of #189

[2021-04-08 14:50] #178 closed

[2021-04-08 15:53] jamesyu558 commented on #188
Here it is:

[root@PCMKACSSDB02PP ~]# cd /var/lib/pacemaker_exporter/
[root@PCMKACSSDB02PP pacemaker_exporter]# ls -l
total 18436
-rwxr-xr-x. 1 postgres postgres 9437184 Apr  6 08:37 ha_cluster_exporter-amd64
[root@PCMKACSSDB02PP pacemaker_exporter]# ./ha_cluster_exporter-amd64 --version
version 1.2.1+git.1606912430.4fceb77
built with go1.15.5 linux/amd64 2020-12-02T17:30:26+00:00
[root@PCMKACSSDB

[2021-04-08 15:57] jamesyu558 commented on #188
IF you have a debug module, I should be able to install it and see exactly what happened to this parser error.   Please let me know if more information you need from me..  Really appreciate your help!!!

[2021-04-08 15:59] jamesyu558 commented on #188
in my environment, I have pacemaker installed as well, together with this prometheus exporter installed for Grafana...

[2021-04-08 16:00] stefanotorresi commented on #188
Nope, we don't have a debug module.
I guess the best shot you have is to download the sources and run it with a step debugger to inspect what input is being actually fed to the regex here:
https://github.com/ClusterLabs/ha_cluster_exporter/blob/4fceb77b3a195bbce12f54e23569a66e20f50bc3/collector/corosync/parser.go#L85-L93

Btw, what corosync version you're using?

[2021-04-08 16:01] jamesyu558 commented on #188
hold on let me check

[2021-04-08 16:02] jamesyu558 commented on #188
[root@PCMKACSSDB02PP pacemaker_exporter]# corosync -v
Corosync Cluster Engine, version '2.4.3'
Copyright (c) 2006-2009 Red Hat, Inc.
[root@PCMKACSSDB02PP pacemaker_exporter]#

[2021-04-08 16:03] jamesyu558 commented on #188
How exactly to debug this on RHEL7?  Do you have a specific steps to set it up?

[2021-04-08 16:08] jamesyu558 commented on #188
Or modify the source code to print out the variable "quorumToolOutput" from "parseNodeId" when it gets called?

[2021-04-08 16:09] stefanotorresi commented on #188
You could clone the project and then use https://github.com/go-delve/delve to debug it, but that assumes some familiarity with the Go language and toolkit!

[2021-04-08 16:11] jamesyu558 commented on #188
Thanks...I can figure this out.  I let you know soon what value of "quorumToolOutput" is passed over to this function....Thank you again.

[2021-04-08 16:11] stefanotorresi commented on #188
yes, you could also do that by adding
[code]
after line 85

[2021-04-08 16:11] jamesyu558 commented on #188
even better...thx

[2021-04-08 16:19] jamesyu558 commented on #188
Will get back to you tomorrow morning this time....

[2021-04-09 15:25] jamesyu558 commented on #188
We modified that function like this:
func parseNodeId(quorumToolOutput []byte) (string, error) {
        nodeRe := regexp.MustCompile(`(?m)Node ID:\s+(\w+)`)
        matches := nodeRe.FindSubmatch(quorumToolOutput)
        var x = string(quorumToolOutput)
        if matches == nil {
                return "", errors.New("could NOT find Node ID line :" + x)
        }
        return string(matches[1

[2021-05-26 12:42] damianw2 opened #193 "Error when disabled all cluster nodes"
OS: SUSE Enterprise 15.1

Steps to reproduce:
Run the command:  crm resource stop rsc_DB_A02
db00:/ # crm status

Clone Set: msl_DB_A02 [rsc_DB_A02] (promotable)

     Stopped (disabled): [ db00 db01 ]
An error has occurred while serving metrics:

5 error(s) occurred:

* collected metric "ha_cluster_pacemaker_resources" { label:<name:"agent" value:"ocf::suse:DB" > label:<name:"clone" value:"msl_DB

[2021-05-26 13:11] stefanotorresi commented on #193
Hey there!
Could you please paste the output of `crm_mon -X --inactive`?

[2021-05-26 13:27] damianw2 commented on #193
Hi,
I'm pasting from different cluster with the same problem:
hana01:~ # crm_mon -X --inactive
<?xml version="1.0"?>
<crm_mon version="2.0.1">
    <summary>
        <stack type="corosync" />
        <current_dc present="true" version="2.0.1+20190417.13d370ca9-3.15.1-2.0.1+20190417.13d370ca9" name="hana00" id="1" with_quorum="true" />
        <last_update time="Wed May 26 13:25:03 2021" />

[2021-05-27 13:46] damianw2 commented on #193
@stefanotorresi any update on this? We are blocked becuse of that issue.

[2021-05-27 14:10] diegoakechi commented on #193
HI @damianw2,

Please, be aware that we provide support here on a community opensource basis, which might not fulfill your internal solutions SLAs.
If this is a production environment and demands SLAs for a solution, please refer to your OS vendor support process in order to receive an faster response.

[2021-05-27 14:39] stefanotorresi commented on #193
@damianw2 I think I understood where the problem lies. Will work on a fix soon.

[2021-05-27 16:42] stefanotorresi commented on #193
@damianw2 could you please try this binary: https://github.com/ClusterLabs/ha_cluster_exporter/suites/2848129495/artifacts/63570802
and tell me if it works or not?

[2021-05-27 21:57] damianw2 commented on #193
@diegoakechi I am aware about your opensource project support and don't expect any SLA ;) I only want to know if the issue is complicated and I should engage my team or you can fix it easily.

@stefanotorresi your new binary is working fine, thanks a lot! Good job! I haven't expect so quick fix, impressive!

[2021-05-28 07:09] #193 closed

[2021-05-28 07:09] #189 closed

[2021-06-23 15:05] arbulu89 opened #197 "sbd data is not exported if devices in SBD_DEVICE have an space after ;"
sbd data is not exported if devices in SBD_DEVICE have an space after `;`.

This setup works for sbd.

Here an example (check the space after the `;`):
[code]

We would need to change the regular expression in https://github.com/ClusterLabs/ha_cluster_exporter/blob/master/collector/sbd/sbd.go#L116 to catch this scenario too, as it is allowed by sbd

[2021-09-08 21:59] rsponholtz opened #198 "Support SSL/TLS connections"
The Prometheus team has created the [exporter-toolkit ](https://github.com/prometheus/exporter-toolkit/tree/v0.1.0)project that contains an implementation for configuring and using SSL/TLS connections, rather than simple HTTP connections.  This is clearly desirable in production environments, and should be added to the ha_cluster_exporter.

[2021-10-30 16:05] azizzailani opened #199 "Sample Prometheus alerting rules"
Do you have any prometheus alerting rules you could share as a starting point?

Thanks,

[2021-11-03 04:17] azizzailani commented on #199
@stefanotorresi help

[2022-05-24 13:45] yeoldegrove commented on #198
This was merged with #200

[2022-09-28 06:03] t-vignesh opened #203 "Pacemaker metrics not available for monitoring"
Hi,
We are unable to get the pacemaker metrics through the HA cluster exporter project by Clusterlabs for exposing the DRBD and Pacemaker metrics. Please help us to get the pacemaker metrics.

**https://github.com/ClusterLabs/ha_cluster_exporter**

But we are unable to find the pacemaker metrics listed below.

_ha_cluster_pacemaker_config_last_change
ha_cluster_pacemaker_fail_count
ha_cluster_pace

[2022-09-28 06:46] DhruvSehgal opened #204 "Not able to install Latest 1.3.0 version for prometheus-ha_cluster_exporter"
Hi, I am trying to install latest version (1.3.0) for prometheus-ha_cluster_exporter on SUSE. (Need to test TLS support feature added to 1.3.0 version)

I used following command:
sudo zypper install prometheus-ha_cluster_exporter

But it is unable to find higer version than 1.2.3.
<img width="782" alt="image" src="https://user-images.githubusercontent.com/89583381/192706996-590dec04-c9bb-4a1d-934a

[2022-09-28 07:08] t-vignesh commented on #203
Hi Team,
Understood the problem. Pls excuse my ignorance. Issue solved.

Thanks.

[2022-09-28 07:08] #203 closed

[2022-09-28 07:49] ajaeger commented on #204
Hi Dhruv, this has not been released yet, it's on it's way to maintenance, QA and will then be available. If you need it urgently, please tell me and we'll find a way to share a pre-release.

[2022-09-30 04:37] DhruvSehgal commented on #204
Hi ajaeger, Thanks for quick reply.

Wanted to get a timeline on when this feature would be shipped.

[2022-09-30 13:15] ajaeger commented on #204
It is currently in the QA queue, should be out any day now.

[2022-10-07 13:26] ajaeger commented on #204
@DhruvSehgal , it's out - see https://lists.suse.com/pipermail/sle-updates/2022-October/025530.html

[2022-11-09 00:37] schniber opened #206 "HA Cluster configuration sample is erroneous"
Hello,

I have been attempting to launch the HA Cluster Exporter through the use of the config file you have provided in here:
https://github.com/ClusterLabs/ha_cluster_exporter/blob/main/ha_cluster_exporter.yaml

Steps to reproduce:

1. install the HA Cluster Exporter
2. copy the content of the cluster config yaml sample in /etc/ha_cluster_exporter.yaml
3. run /usr/bin/ha_cluster_exporter

Error

[2022-11-09 09:15] stefanotorresi commented on #206
Hello @schniber.
The indentation in the example is actually correct.
The `web.config.file` key is not to be set to the main config file itself (`/etc/ha_cluster_exporter.yaml` in your case), it's intended to be an additional config file according to the format explained in the [Prometheus exporter toolkit](https://github.com/prometheus/exporter-toolkit/blob/master/docs/web-configuration.md) only t

[2022-11-09 09:15] #206 closed

[2022-11-09 09:20] #204 closed